@keyframes bounce {
  from,
  20%,
  53%,
  80%,
  to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transform: translate3d(0, 0, 0);
  }

  40%,
  43% {
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transform: translate3d(0, -8px, 0);
  }

  90% {
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transform: translate3d(0, -4px, 0);
  }
}

@keyframes fadeInOut {
  0% {
    opacity: 0.1;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0.1;
  }
}

@keyframes fadeOutIn {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.2;
  }

  100% {
    opacity: 1;
  }
}

html.gist-active,
body.gist-active {
  height: 100%;
}

#gist-body {
  position: relative;
  z-index: $gist-body-index;

  [data-sg]:first-of-type {
    width: 100%; // Position absolute header fix
  }
}

body::after {
  content: "Loading ...";
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url('data:image/svg+xml;utf8,%3Csvg%20width%3D%2238%22%20height%3D%2238%22%20viewBox%3D%220%200%2038%2038%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20stroke%3D%22%23fff%22%3E%0A%20%20%20%20%3Cg%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%0A%20%20%20%20%20%20%20%20%3Cg%20transform%3D%22translate%281%201%29%22%20stroke-width%3D%222%22%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%3Ccircle%20stroke-opacity%3D%22.5%22%20cx%3D%2218%22%20cy%3D%2218%22%20r%3D%2218%22/%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%3Cpath%20d%3D%22M36%2018c0-9.94-8.06-18-18-18%22%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3CanimateTransform%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20attributeName%3D%22transform%22%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20type%3D%22rotate%22%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20from%3D%220%2018%2018%22%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20to%3D%22360%2018%2018%22%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20dur%3D%221s%22%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20repeatCount%3D%22indefinite%22/%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%3C/path%3E%0A%20%20%20%20%20%20%20%20%3C/g%3E%0A%20%20%20%20%3C/g%3E%0A%3C/svg%3E');
  width: 100%;
  height: 100%;
  background-color: $gist-loading-background;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  text-indent: -10000px;
}

body.gist-active::after,
body.gist-inactive::after {
  display: none;
}

body.gist-active {
  padding: 0;
  background-color: $beat-active-body-background;
}

body.gist-landscape::before {
  content: $gist-rotate-copy;
  position: fixed;
  z-index: $gist-rotate-warning-index;
  width: 100vw;
  height: 100vh;
  background-color: $gist-rotate-warning-backgorund;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $gist-rotate-text-color;
  font-family: $gist-font-secondary;
}

#gist-progress {
  position: absolute;
  width: 100%;
  top: 3px;
  left: 0;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  background-color: $gist-progress-bar-background;
  height: $gist-progress-bar-height;
  z-index: $gist-progress-index;
  pointer-events: none;
  opacity: 0.5;
}

#gist-view-story {
  position: fixed;
  bottom: $beat-gutter;
  z-index: $gist-view-story-cta-index;
  border: none;
  color: #000;
  left: 50%;
  transform: translateX(-50%);
  right: 0;
  font-size: $beat-onboard-font-size;
  background-color: transparent;
  opacity: 0.4;
  padding: 0;
  height: auto;
  cursor: pointer;

  .gist-beat-0-active & {
    color: $beat-first-cta-text-color;
  }

  .gist-beat-last-active & {
    color: #fff;
  }
}

.gist-beat {
  position: absolute;
  background-color: $beat-background;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  overflow-y: hidden;

  @if $beat-center-headings {
    h2,
    h3,
    h4,
    h5,
    h6 {
      text-align: center;
    }
  }

  & > p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  dl,
  ul,
  ol,
  blockquote,
  pre,
  figcaption {
    padding-left: $beat-gutter;
    padding-right: $beat-gutter;
    max-width: $beat-element-max-width;
    margin-left: auto;
    margin-right: auto;
  }

  .pullquote {
    font-size: $beat-pullquote-font-size;

    q {
      margin: auto;

      &::before {
        margin-left: $beat-gutter / -2;
      }
    }
  }

  &.last {
    background-color: $beat-last-background;
    color: $beat-last-text-color;
    text-align: $beat-last-alignment;

    ul {
      list-style: none;
      margin-bottom: 0;
    }

    svg {
      fill: $beat-share-icon-color;
      height: $gist-share-icon-size;
      vertical-align: middle;
      width: $gist-share-icon-size;
    }

    li {
      display: inline-block;
      margin-right: 18px;

      &:last-child {
        margin-right: 0;
      }
    }
  }
}

.gist-beat.last {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  dl,
  ul,
  ol,
  blockquote,
  pre,
  figcaption {
    color: $beat-last-text-color;
  }
}

.gist-progress-beat {
  background-color: $gist-progress-bar-color;
  margin-right: 1px;
  margin-left: 1px;
  border-radius: 3px;
  opacity: 0.7;
}

.gist-beat.gist-beat-onboard {
  background-color: $beat-onboard-background;
  color: #fff;
  display: block;

  p {
    padding: ($beat-gutter * 2) $beat-gutter $beat-gutter $beat-gutter;
    font-size: $beat-onboard-font-size;
  }
}

.gist-onboard-ui-container {
  border: 1px solid $gist-border-color dashed;
  display: flex;
  height: calc(100vh - 254px);
  align-items: stretch;
  text-align: center;
  margin-bottom: $beat-gutter;
}

.gist-onboard-ui-right,
.gist-onboard-ui-left {
  padding: $beat-gutter;
  display: flex;
  align-items: center;
}

.gist-onboard-ui-text {
  font-size: $beat-onboard-font-ui-size;
  font-family: $gist-font-secondary;
  width: 100%;
}

.gist-onboard-ui-left {
  width: 45%;
  text-align: left;
  animation: fadeInOut ease-in-out 6s;
  animation-iteration-count: infinite;

  p {
    padding: 0;
    margin: 0;
  }
}

.gist-onboard-ui-right {
  width: 55%;
  text-align: right;

  p {
    padding: 0;
    margin: 0;
    animation: fadeOutIn ease-in-out 6s;
    animation-iteration-count: infinite;
  }
}

.gist-onboard-ui-right {
  border-left: 1px $gist-border-color dashed;
}

.gist-beat-container {
  width: 100%;
  margin: $beat-gutter;
  border-top: 1px solid $gist-border-color;
}

.gist-beat-row {
  border-bottom: 1px solid $gist-border-color;
  padding: $beat-gutter 0;
}

.gist-active {
  figure a,
  aside {
    pointer-events: none;
  }

  .site-footer {
    margin: 0;
  }
}

.gist-onboard-container {
  height: 100vh;
  background: $beat-onboard-background;
  position: relative;
  z-index: $gist-onboard-index;
  color: $beat-onboard-text-color;
  padding: $beat-gutter;
}

.gist-onboard-ui-text-cta {
  animation-duration: 5.5s;
  animation-fill-mode: both;
  animation-name: bounce;
  animation-iteration-count: 2;
  text-align: center;
  font-size: 1.1em;
  position: relative;
  bottom: -2em;
}

.gist-pager {
  position: absolute;
  top: 16px;
  z-index: 157;
  width: 100%;

  @media (min-width: $pkg-gist-width-bp) and (min-height: $pkg-gist-height-bp) {
    top: 50%;
    transform: translate(-50%, -50%);
    max-width: $pkg-gist-width-bp;
    left: 50%;
    z-index: 0;
  }
}

.gist-pager__btn {
  display: block;
  background-color: transparent;
  border: none;
  cursor: pointer;

  svg {
    fill: #fff;
    width: 40px;
    height: 40px;
  }
}

.gist-beat-last-active .gist-pager__btn--next {
  display: none;
}

.gist-pager__btn--prev {
  float: left;
}

.gist-pager__btn--next {
  float: right;
}

.gist-beat-0-active .gist-pager__btn--prev {
  display: none;
}

.gist-modal-bar {
  border-bottom: 1px solid $gist-border-color;
}

.gist-modal-close {
  background-color: transparent;

  svg {
    width: 40px;
    height: 40px;
    fill: #fff;
  }

  &:hover {
    opacity: 0.5;
  }
}

.gist-modal-wrapper {
  background-color: $gist-loading-background;
  top: 0;
  transform: translateY(100%);
  transition: transform 0.15s ease-in-out;
  width: 100%;
  height: 0;
  -webkit-overflow-scrolling: touch;
  overflow-y: scroll;
  position: fixed;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url('data:image/svg+xml;utf8,%3Csvg%20width%3D%2238%22%20height%3D%2238%22%20viewBox%3D%220%200%2038%2038%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20stroke%3D%22%23fff%22%3E%0A%20%20%20%20%3Cg%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%0A%20%20%20%20%20%20%20%20%3Cg%20transform%3D%22translate%281%201%29%22%20stroke-width%3D%222%22%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%3Ccircle%20stroke-opacity%3D%22.5%22%20cx%3D%2218%22%20cy%3D%2218%22%20r%3D%2218%22/%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%3Cpath%20d%3D%22M36%2018c0-9.94-8.06-18-18-18%22%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3CanimateTransform%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20attributeName%3D%22transform%22%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20type%3D%22rotate%22%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20from%3D%220%2018%2018%22%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20to%3D%22360%2018%2018%22%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20dur%3D%221s%22%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20repeatCount%3D%22indefinite%22/%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%3C/path%3E%0A%20%20%20%20%20%20%20%20%3C/g%3E%0A%20%20%20%20%3C/g%3E%0A%3C/svg%3E');
  z-index: 999;

  iframe {
    position: absolute;
    top: 45px;
  }
}

.gist-modal-wrapper.is-active {
  transform: translateY(0);
  height: 100%;
}

@if $pkg-gist {
  #gist-body {
    height: 100%;

    [data-sg] {
      width: 100%;
    }
  }

  .gist-beat.last {
    min-height: 70vh;
  }

  .gist-beat {
    @media (min-width: $pkg-gist-width-bp) and (min-height: $pkg-gist-height-bp) {
      max-width: 520px;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      height: auto;
      overflow: hidden;
    }
  }
}
